# remove html file extension https://vasavecareer.com/page.html ->
# https://vasavecareer.com/page.html -> https://vasavecareer.com/page

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.html [NC, L]
